.latest-workshop-slide-card {
  width: 70%;
  border-radius: var(--borderRadius-large);
  box-shadow: var(--shadow-2);
  background-color: #fff;
}

.latest-workshop-slide-card-image {
  width: 100%;
  height: 50vh;
  border-radius: var(--borderRadius-large-top);
}

.latest-workshop-slide-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius-large-top);
}

.latest-workshop-slide-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 2rem 0 2rem;
}

.latest-workshop-slide-card-text-row {
  display: flex;
  justify-content: space-between;
}

.latest-workshop-slide-card-p {
  padding: 1.5rem 2rem 2rem 2rem;
}
