.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
}

.columnText {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.columnImage {
  width: 100%;
  border-radius: var(--borderRadius-large);
}

.columnImage img {
  border-radius: var(--borderRadius-large);
  width: 100%;
}

.reverse {
  flex-direction: column-reverse;
}

@media (min-width: 720px) {
  .columnContainer {
    flex-direction: row;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .columnText {
    width: 50%;
  }

  .columnImage {
    width: 50%;
  }
}
