.columnContainer {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;

}

.columnText {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;

}

.columnImage {

    width: 50%;
    border-radius: 25px;


}

.columnImage img {
    border-radius: 25px;
    width: 100%;
}

.reverse {
    flex-direction: column-reverse;
}

@media (min-width: 720px) {
   .columnContainer {
       flex-direction: row;

   }
   .reverse{
       flex-direction:row-reverse;
   }
    }