.project-link {
  position: relative;
}
.project-card-container {
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  width: 100%;
}
.archive-cover {
  background-color: var(--primary-900);
  opacity: 75%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--borderRadius-medium);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.project-card-container:hover {
  box-shadow: var(--shadow-3);
}

.project-card-image {
  border-radius: var(--borderRadius-medium-top);
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.image-overlay-cover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-400);
  border-radius: var(--borderRadius-large-top);
  opacity: 25%;
  z-index: 999;
}

.project-card-image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.project-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--borderRadius-medium-bottom);
}

.text-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.text-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-row span {
  color: var(--primary-700);
  font-weight: 700;
}

.language-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
