.nav-drawer {
  overflow-x: hidden;
  z-index: 999;
}

.header-logo-small {
  width: 95px;
}

.hamburg-menu {
  height: 10px;
  z-index: 999;
  cursor: pointer;
}

.nav-drawer-menu-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  right: -60vw;
  top: 0;
  padding: 5rem 2.5rem;
  background-color: var(--primary-100);
  height: 100vh;
  width: 60vw;
  box-shadow: var(--shadow-3);
}

.show-sidebar {
  display: flex;
  position: absolute;
  right: 0vw;
  width: 60vw;
  height: 100vh;
  transition: var(--transition);
}

.hide-sidebar {
  display: flex;
  position: absolute;
  right: -60vw;
  width: 60vw;
  height: 100vh;
  transition: 1s;
}
