.profile-container {
  width: 100%;
}

.button-tabs {
  margin-bottom: 3rem;
}
.button-tab {
  border-radius: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 3px solid var(--primary-100);
  font-size: 21px;
  padding: 0 0 0.5rem 0;
}

.selected {
  border-bottom: 3px solid var(--primary-300);
}
