.SkillTag {
  border-radius: var(--borderRadius-round);
  background-color: var(--primary-100);
  padding: 0.25rem 0.5rem;
  width: fit-content;
  font-size: 12px;
  color: var(--primary-800);
  height: fit-content;
}

.tag-brand-primary {
  background-color: var(--primary-300);
  color: #fff;
}

.tag-brand-secondary {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}
