.meet-the-team-container {
  border-radius: var(--borderRadius-medium);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  width: 100%;
}

.meet-the-team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--borderRadius-medium-top);
}

.meet-the-team-image {
  border-radius: 25px;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: var(--borderRadius-medium-top);
  resize: 50%;
}

.meet-the-team-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: var(--borderRadius-medium-bottom);
}
