.skill-level-group {
  display: flex;
  align-items: center;
}
.skill-level {
  height: 0.75rem;
  width: 1.5rem;
}
.level-easy {
  background-color: #83c5be;
  border-radius: 99px 0 0 99px;
}
.level-middle {
  background-color: #e29578;
}
.level-advanced {
  background-color: #135159;
  border-radius: 0 99px 99px 0;
}
.level-selected {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 99px;
  border: 3px solid #fff;
  z-index: 999;
}
