.skill-level-group {
  display: flex;
  align-items: center;
}
.skill-level {
  height: 0.75rem;
  width: 1.5rem;
}
.level-easy {
  background-color: var(--primary-200);
  border-radius: 99px 0 0 99px;
}
.level-middle {
  background-color: var(--secondary-medium);
}
.level-advanced {
  background-color: var(--primary-700);
  border-radius: 0 99px 99px 0;
}
.level-selected {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: var(--borderRadius-round);
  border: 3px solid #fff;
  z-index: 999;
}
