.slider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slider-title-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.slider-slides {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.slide-control {
  font-size: 32px;
  cursor: pointer;
  transition: var(--transition);
}
.slide-control:hover {
  color: var(--primary-300);
}
