.header-logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  height: 6rem;
}

.menu_items_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.menu_item {
  color: var(--charcoal);
  transition: var(--transition);
}

.menu_item:hover {
  color: var(--primary-300);
}

.nav-avatar-image {
  border-radius: var(--borderRadius-round);
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}
