.header-logo-link {
  display: flex;
  justify-content: center;
}

.header-logo {
  height: 6rem;
}

.menu_items_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  gap: 1.5rem;
  width: 100%;
}
.static_menu_items {
  display: flex;
  gap: 1.5rem;
  margin-right: auto;
}
.menu_item_home {
  transition: var(--transition);
}
.menu_item_home:hover {
  color: var(--primary-300);
}

.menu_item_auth_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}

.nav-authenticated {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.nav-avatar-image {
  border-radius: var(--borderRadius-round);
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}
