.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 850px) {
  .footer-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-copyright {
  display: flex;
  justify-content: space-between;
}
.footer-copyright span {
  color: var(--primary-400);
  font-weight: 500;
}
.branding-section {
  width: 100%;
}
@media screen and (min-width: 850px) {
  .branding-section {
    width: 50%;
    padding-right: 5rem;
  }
}

.footer-logo {
  width: 10rem;
  margin-bottom: 1rem;
}

.nav-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
}

@media screen and (min-width: 850px) {
  .nav-section {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
}

.nav-section-title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.nav-section-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-section-menu-item {
  transition: var(--transition);
}

.nav-section-menu-item:hover {
  color: var(--primary-200);
}

.breakline {
  width: 100%;
  border: 0.5px solid var(--grey-200);
  margin: 3rem 0;
}
