.cta-button {
  cursor: pointer;
  text-transform: capitalize;
  width: fit-content;
  padding: 0.65rem 1.25rem;
  border: 1px solid var(--primary-300);
  border-radius: var(--borderRadius-small);
  transition: var(--transition);
}
.cta-button:hover {
  box-shadow: var(--shadow-3);
}

.primary {
  background-color: var(--primary-300);
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: var(--primary-300);
}
