.cta-button {
  cursor: pointer;
  text-transform: capitalize;
  width: fit-content;
  padding: 0.65rem 1.25rem;
  border: 1px solid #55b0ab;
  border-radius: 10px;
  transition: all 0.5s;
}
.cta-button:hover {
  box-shadow: 2px 2px 2px #1f1f1f41;
}

.primary {
  background-color: #55b0ab;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #55b0ab;
}
